/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs

# stuff to ignore
*.swp
*.swo
test.pl
.DS_Store
t
tw

# Garbage files that I use for output and such
*.out
*.err
*.log
*.conv
*.bak
*.html
*.sqlite3
*.xml
*.dat
foo/
